*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
img{display:block; max-width:100%}
.info__img{position:absolute; width: 300px% ; background: rgba(0.9,0.9,0.9,0.9); height:800px;}
body{
	background: #DEDEDE;
	display: flex;
	min-height: 100vh;
	
}
 
.logo{position:absolute;  color: #FBA919; font-size:32px;}
h1 {
font-family:Agency FB; letter-spacing: 1.5px; margin-left: 17px; margin-top: 8px;
}

.logo_login{position: absolute;}
h3{ font-size:25px; font-family: Agency FB; margin-top: 37px; margin-left: 17px; letter-spacing: 0.8px; color:green; }

.nav{position:absolute; top:70px;
	left:-100%;
	width: 100%; transition: all 0.8s;}
.menu{list-style:none; padding:0; margin-left:0; width:45%; }
.menu__link{
	display: block;
	padding: 12px;
	background: #FBA919;
	text-decoration:none;
	color: white;	
	border-radius:10px;
	border: 0.1px solid #CCEEFF;
}
.menu__link:hover{
	background: #CCEEFF;
    color: #FBA919;
	border-radius: 25px; }
.select{
	background: white;
	color: black;
	border-radius: 20px;
}

.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: -55px;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	
}


form{
	margin: auto;
	width: 78%;
	max-width: 500px;
	background: #F3F3F3;
	padding: 35px; 
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 10px;
	position: relative;
	margin-bottom: 110px;
	margin-left: 32px;
	
}

h2{
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.5);
}

input{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;
}

input[type="submit"]{
	background: linear-gradient(#FFDA63, #FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

input[type="submit"]:hover{
	opacity: 1;
}

input[type="submit"]:active{
	transform: scale(0.94);
}
.icon-men{
	margin-left: -10px;
	margin-right: 8px;
	display: block;
	width: 40px;
	height: 40px; 
	font-size: 30px;
	background: #FBA919;
	color: #ff;
	text-align: center;
	line-height:45px;
	border-radius: 6px;
	cursor: pointer;
	position:relative;
	margin-top:10px;
}
.mostrar{left:0%;}


@media(min-width: 400px){
	.info__img{position:absolute; width: 287%; background: rgba(0.9,0.9,0.9,0.9); }
	form{width: 54%; margin:auto; margin-right:-24px;} .menu__link{padding:20px;}

.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	bottom:0;
	
}.logo{font-size:49px;} h3{font-size:24px; margin-top: 66px;}
.icon-men{width: 44px;
	height: 44px; margin-right:40px; margin-top:24px; }
.menu{width:32%; margin-top:30px;}
.mostrar{left:0%;}
	
}
@media(min-width: 500px){
	.info__img{position:absolute; width: 230%; background: rgba(0.9,0.9,0.9,0.9); }
	form{width: 44%; margin-right:40px; height: 10%;}

.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	bottom:0;
	
}	.logo{font-size:51px;} h3{font-size:26px; margin-top: 66px;}
.icon-men{width: 44px;
	height: 44px; margin-right:40px; margin-top:24px;}
.menu{width:27%; margin-top:32px;}
.mostrar{left:0%;}
}

@media(min-width: 600px){
	.info__img{position:absolute; width: 190%; background: rgba(0.9,0.9,0.9,0.9); }
	form{width: 39%; margin-right:135px;}

.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	bottom:0;
	
}.logo{font-size:57px;} h3{font-size:32px; margin-top: 66px;}
.icon-men{width: 44px;
	height: 44px;  margin-right: 40px; margin-top: 24px; }
.menu{width:23.5%; margin-top:39px;}
.mostrar{left:00%;}}
@media(min-width: 750px){
	.info__img{position:absolute; width: 152%; background: rgba(0.9,0.9,0.9,0.9); }
	form{width: 34%; margin-right:190px;}

.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	bottom:0;
	
	
}.logo{font-size:60px;} h3{font-size:35px; margin-top: 66px;}
.icon-men{width: 48px;
	height: 48px; margin-right: 40px; margin-top: 24px;}
.menu{width:27%; margin-top:44px;}
.mostrar{left:0%;}}
@media(min-width: 887px){
	.info__img{position:absolute; width: 127%; background: rgba(0.9,0.9,0.9,0.9); }
	form{width: 32%; margin-right:250px;}

.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	bottom:0;
	
}
.logo{font-size:66px;} h3{font-size:41px; margin-top: 66px;}
.icon-men{width: 48px;
	height: 48px; margin-right: 40px; margin-top: 24px; }
.menu{width:28%; margin-top:50px;}
.mostrar{left:0%;}
}
@media(min-width: 1024px){
	.info__img{position:absolute; width: 110%; background: rgba(0.9,0.9,0.9,0.9); }
	form{width: 31%; margin-right:325px;}

.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}
.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	bottom:0;
	
}
.logo{font-size:66px;} h3{font-size:41px; margin-top: 66px;}
.icon-men{width: 48px;
	height: 48px; margin-right:40px; margin-top:24px;}
.menu{width:28%; margin-top:50px;}
.mostrar{left:0%}
	
}

@media(min-width: 1280px){
	.info__img{position:absolute; width: 100%; background: rgba(0.9,0.9,0.9,0.9); max-width:100%;}
	form{width: 30%; margin-right:365px;}
.menu{width:30%; margin-top: 60px;}
.mostrar{left:0%; max-width:100%;}
.footer{
	background: #333;
	Color: white;
	padding:35px;
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: -270px;
}

.footer .social [class^="icon-"]{
	display: inline-block;
	color: 333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;	
	background: white;
	border-radius: 50%; 
	width:50px;
	height: 50px;
	line-height: 40px; 
	bottom:0;
	
}
.icon-men{width: 50px;
	height: 50px; margin-right: 40px; margin-top: 24px;}
	
.logo{font-size:70px;} h3{font-size:45px; margin-top: 70px;}	
}